<html>
<head>
<title>Chitter</title>
</head>

<body>
<header>
<h1>Welcome to Chitter</h1>

<% if current_user %>
  Welcome <%= current_user.name %>

    <form method="post" action="/clear">
    <input type="submit" value="Log Out">
    </form>

<div id="new-peep">
  <form action="/peep" method="post">
    Peep: <input type="text" name="message">
    <input type="hidden" name="posted_by_name" value="<%= current_user.name %>">
    <input type="hidden" name="posted_by_username" value="<%= current_user.username %>">
    <input type="submit" value="Share">
  </form>
</div>

<% else %>
<nav>
  <ul>
    <li><a href="/users/new">Sign Up</a></li>
    <li><a href="/sessions/new">Login</a></li>
  </ul>
</nav>
<% end %>


<% if flash[:notice] %>
  <div id="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:errors] && !flash[:errors].empty? %>
  Sorry, there were a few problems: 
    <ul id="errors">
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
<% end %>



</header>

<section>
<%= yield %>
</section>

</body>
</html>

